.Home {
  padding: 64px 32px;
}

.Home__header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}

.Home__header > div > button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}
